<div class="row mt-5">
    <div class="col-12 col-sm-12 col-md-12 col-lg-2"></div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-4">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Estudios">
            <button class="botonHome"><i class="bi bi-mortarboard-fill iconColor"></i></button>
        </a>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-4">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Experiencia">
            <button class="botonHome"><i class="bi bi-briefcase-fill iconColor"></i></button>
        </a>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-2"></div>
</div>

<div class="row marginButon mt-5">
    <div class="col-12 col-sm-12 col-md-12 col-lg-2"></div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-4">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="SobreMi">
            <button class="botonHome"><i class="bi bi-person-fill iconColor"></i></button>
        </a>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-4">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contact">
            <button class="botonHome"><i class="bi bi-envelope-fill iconColor"></i></button>
        </a>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-2"></div>
</div>

