@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <img id="foto" src="images/raul.png" alt="fotoChuletaRaul"/>
    <h1 class="display-4 tituloNombre">Raul Martos</h1>
    <h2 class="tituloSM">22/03/2001</h2>
</div>
