@{
    ViewData["Title"] = "Studies";
}
<h1 class="titulo">@ViewData["Title"]</h1>
<div class="row justify-content-center">
    <div class="card" style="width: 18rem;">
        <img src="~/images/standreu.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Educación Secundaria Obligatoria (ESO)</p>
            <p>Date: 2013-2017</p>
            <p>Location: Badalona</p>
        </div>
        <a href="https://standreu.org/" target="_blank"><button type="button" class="btn btn-primary mb-4">See information</button></a>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="~/images/monlau.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Microcomputer systems and networks (SMX/SMR)</p>
            <p>Date: 2017-2019</p>
            <p>Location: Barcelona</p>
        </div>
        <a href="https://www.monlau.com/?lang=ca" target="_blank"><button type="button" class="btn btn-primary mb-4">See information</button></a>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="~/images/monlau.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Computer Systems and Networks Administrator (ASIX/ASIR)</p>
            <p>Date: 2019-2021</p>
            <p>Location: Barcelona</p>
        </div>
        <a href="https://www.monlau.com/?lang=ca" target="_blank"><button type="button" class="btn btn-primary mb-4">See information</button></a>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="~/images/monlau.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Web applications development (DAW)
            </p>
            <p>Date: <br />2021-2022</p>
            <p>Location: Barcelona</p>
        </div>
        <a href="https://www.monlau.com/?lang=ca" target="_blank"><button type="button" class="btn btn-primary mb-4">See information</button></a>
    </div>
</div>
