@{
    ViewData["Title"] = "Experiencia Laboral";
}
<h1 class="titulo">@ViewData["Title"]</h1>
<div class="row justify-content-center">
    <div class="card" style="width: 18rem;">
        <img src="~/images/nuclio.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Repair of computers, installation of operating systems. Give support to the various startups of Nuclio Venture Builder.</p>
            <p>Date: 18/12/2017 - 03/12/2018</p>
            <p>Location: Barcelona</p>
        </div>
        <a href="https://www.nuclio.com/es/" target="_blank"><button type="button" class="btn btn-warning mb-4">See information</button></a>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="~/images/monlau.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Resolve students doubts about practices and work of the subjects.</p>
            <p>Date: 03/03/2021 - 11/06/2021</p>
            <p>Location: Barcelona</p>
        </div>
        <a href="https://www.monlau.com/?lang=ca" target="_blank"><button type="button" class="btn btn-primary mb-4">See information</button></a>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="~/images/oracls.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Website builder using: HTML, Bootstrap, CSS and JavaScript</p>
            <p>Date: 06/10/2021 - 08/02/2022</p>
            <p>Location: Murcia</p>
        </div>
        <a href="https://www.einforma.com/informacion-empresa/oracls-development" target="_blank"><button type="button" class="btn btn-success mb-4">See information</button></a>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="~/images/cvg.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Support and monitoring of students. Repair of equipment and responsible for incidents in the center. Systems administrator.</p>
            <p>Date: <br />03/02/2020 - 02/08/2020 08/10/2020 - 02/03/2021 08/02/2022 - Actualidad</p>
            <p>Location: Barcelona</p>
        </div>
        <a href="https://cvg-services.com/" target="_blank"><button type="button" class="btn btn-secondary mb-4">See information</button></a>
    </div>
</div>
