@{
    ViewData["Title"] = "Sobre Mi";
}
<h1 class="tituloSM">@ViewData["Title"]</h1>
<div class="row">
    <div class="col-12 col-lg-2"></div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-8 mb-4">
        I am a very hardworking person, who does not give up until he achieves his goals, I consider myself very active, since I do not like to be wanting to do nothing.
        In the future I would like to work as a web programmer, since thanks to my studies I have realized that I want to work in this field. Also, my future is
        oriented to continue training day by day in new computer systems, programming languages ​​and cybersecurity
    </div>
    <div class="col-12 col-lg-2"></div>
</div>

<div class="row">
     <div class="col-12 col-lg-2"></div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 border">
        <h1>Competencies</h1>
        <ul>
            <li>Responsable</li>
            <li>Creative</li>
            <li>Decisive</li>
            <li>Tidy </li>
            <li>Punctual</li>
        </ul>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 border">
        <h1>Ability</h1>
        <ul>
            <li>Office</li>
            <li>Outlook</li>
            <li>Social media</li>
            <li>Oracle</li>
            <li>Cisco</li>
            <li>MySQL</li>
            <li>PHP</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>Windows Server</li>
            <li>Ubuntu</li>
            <li>Bootstrap</li>
            <li>Angular</li>
            <li>ASP</li>
            <li>Laravel</li>
        </ul>
    </div>
    <div class="col-12 col-lg-2"></div>
</div>

<div class="row marginButon">
    <div class="col-12 col-lg-2"></div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 border">
        <h1>Languages</h1>
        <ul>
            <li>Catalan: Native</li>
            <li>Spanish: Native</li>
            <li>English: A2</li>
        </ul>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 border">
        <h1>Certificates</h1>
        <ul>
            <li>
                Open Webinnars Web Hacking Course
            </li>
            <li>Open Webinnars Hacking course with search engines : Google, Bing y Shoda</li>
            <li>Open Webinnars Curso de Onboarding BecasOW</li>
            <li>Cisco: CCNA</li>
        </ul>
    </div>
    <div class="col-12 col-lg-2"></div>
</div>