body {
    background-color: #bad0b8;
    background-image: -webkit-linear-gradient(right, #E2C486, #E08A51);
    background-image: -moz-linear-gradient(right, #E2C486, #E08A51);
    background-image: -o-linear-gradient(right, #E2C486, #E08A51);
    background-image: linear-gradient(right, #E2C486, #E08A51);
}

.centro {
    display: flex;
    align-items: center;
}

#foto{
    width: 300px;
    margin: 2rem auto;
    border-radius: 5%;
}

.titulo {
    text-align: center;
    margin-bottom: 150px;
}

.tituloSM {
    text-align: center;
    margin-bottom: 15px;
}

footer {
    text-align: center;
    flex: 0 0 auto;
}

i{
    margin-right: 20px;
    font-size: 40px;
}

button{
    width: 100%;
}

a:link, a:visited, a:active {
    text-decoration: none;
    color: black;
    -webkit-tap-highlight-color: transparent;
}

a:hover{
    color: black;
}

.border{
    border: solid 1px black;
}

.botonHome {
    padding: 10%;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 10px;
}

.marginButon {
    margin-bottom: 150px;
}

.icons {
    font-size: 250px;
    color: #000;
}

.iconCenter {
    text-align: center;
}

button {
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
}

button {
    color: var(--color);
    transition: 0.25s;
}

button:hover, button:focus {
    border-color: var(--hover);
    color: #fff;
}

.pulse {
    --color: #2C3388;
    --hover: #2C7388;
}

.pulse:hover{
    -webkit-animation: pulse 1s;
    animation: pulse 1s;
    box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
}

.pulse:focus {
    -webkit-animation: pulse 1s;
    animation: pulse 1s;
    box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
}

@-webkit-keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 var(--hover);
    }
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 var(--hover);
    }
}